## **Introduction to Python**

### User Input and Output

In [5]:
# This is a comment line
# This is another comment line
# This is the last comment line

In [8]:
num1 = input("Please enter the first number: ")
num2 = input("Please enter the second number: ")
print (num1, type(num1), id(num1))
print (num2, type(num2), id(num2))
result = num1 + num2   # string concatenation
print (result)
print ('End of the program...')

Please enter the first number:  100
Please enter the second number:  200

100 <class 'str'> 2557513147248
200 <class 'str'> 2557513144176
100200
End of the program...

In [12]:
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
print (num1, type(num1), id(num1))
print (num2, type(num2), id(num2))
result = num1 + num2   # algebraic addition operation
print (result)
print ('End of the program...')

Please enter the first number:  200
Please enter the second number:  300

200 <class 'int'> 2557433813456
300 <class 'int'> 2557512297552
500
End of the program...

In [29]:
print ("So", num1, "+", num2, "=", result)
print ("So " + str(num1) + " + " + str(num2) + " = " + str(result))
print ("So {} + {} = {}".format(num1, num2, result))   # {} is called variable place holder
print ("So {0} + {1} = {2}".format(num1, num2, result))   # {} is indexed variable place holder
print ("So {2} + {1} = {0}".format(result, num2, num1))   # {} is indexed variable place holder
print ("So {fn} + {sn} = {re}".format(fn = num1, sn = num2, re = result))   # {} is labelled variable place holder
print ("So {fn} + {sn} = {re}".format(re = result, sn = num2, fn = num1))   # {} is labelled variable place holder
print ("So %d + %d = %d"%(num1, num2, result))   # %d denotes decimal format
print ("So %d + %d = %f"%(num1, num2, result))   # %f denotes float format
print ("So %d + %d = %10.6f"%(num1, num2, result))   # %f denotes float format
print ("So %d + %d = %8.2f"%(num1, num2, result))   # %f denotes float format
print (f"So {num1} + {num2} = {result}")    # f stands for smart formatting available from Python version 3.7 onwards

So 200 + 300 = 500
So 200 + 300 = 500
So 200 + 300 = 500
So 200 + 300 = 500
So 200 + 300 = 500
So 200 + 300 = 500
So 200 + 300 = 500
So 200 + 300 = 500
So 200 + 300 = 500.000000
So 200 + 300 = 500.000000
So 200 + 300 =   500.00
So 200 + 300 = 500

In [ ]:
help(str)

### Python Artithmetic Operators

In [30]:
print (100 + 40)    # addition
print (100 - 40)    # subtraction
print (100 * 40)    # multiplication
print (100 / 40)    # float division
print (100 // 40)   # integer division
print (100 % 40)    # modulus or remainder of the division
print (100 ** 4)    # exponentiation, to the power of

140
60
4000
2.5
2
20
100000000

### Python Logical Operators

In [33]:
# and, or, not
print (False and False, False and True, True and False, True and True)
print (False or False, False or True, True or False, True or True)
print (not False, not True)

False False False True
False True True True
True False

### Python relational Operators

In [34]:
print (100 > 20, 100 >= 100, 100 < 300, 300 <= 300, 100 != 300, 100 == 100)

True True True True True True

### Python Ternary Operator

In [65]:
# There are three types of operators:
#     1. Unary Operator: Only one operand, example: +100, -200
#     2. Binary Operator: Two operands, example: 200 + 100, 300 - 200
#     3. Ternary Operator: Three operands, example:
num1 = int(input("Please enter an integer number: "))
result = "Even" if (num1 % 2 == 0) else "Odd"    # Example of Ternary Operator
print (f"So {num1} is an {result} integer number...")

Please enter an integer number:  100

So 100 is an Even integer number...

### Python Conditional Statements

In [45]:
# try to find the maximum of three user given numbers
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
num3 = int(input("Please enter the third number: "))
if (num1 > num2):
    if (num1 > num3):
        print ("So the first number is the maximum number...")
        print (f"Maximum number is {num1}...")
    else:
        print ("So the third number is the maximum number...")
        print (f"Maximum number is {num3}...")
elif (num2 > num3):    # elif means else if
    print ("So the second number is the maximum number...")
    print (f"Maximum number is {num2}...")
else:
    print ("So the third number is the maximum number...")
    print (f"Maximum number is {num3}...")
print ("End of the program...")

Please enter the first number:  300
Please enter the second number:  200
Please enter the third number:  100

So the first number is the maximum number...
Maximum number is 300...
End of the program...

In [64]:
# try to find the maximum of three user given numbers
num1 = int(input("Please enter the first number: "));
num2 = int(input("Please enter the second number: "));
num3 = int(input("Please enter the third number: "));
if (num1 > num2):
    if (num1 > num3): print ("So the first number is the maximum number..."); print (f"Maximum number is {num1}...")
    else: print ("So the third number is the maximum number..."); print (f"Maximum number is {num3}...")
elif (num2 > num3): print ("So the second number is the maximum number..."); print (f"Maximum number is {num2}...")
else: print ("So the third number is the maximum number..."); print (f"Maximum number is {num3}...")
print ("End of the program...")

Please enter the first number:  300
Please enter the second number:  200
Please enter the third number:  100

So the first number is the maximum number...
Maximum number is 300...
End of the program...

In [49]:
# try to find the maximum of three user given numbers
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
num3 = int(input("Please enter the third number: "))
if (num1 > num2 and num1 > num3):
    print ("So the first number is the maximum number...")
    print (f"Maximum number is {num1}...")
elif (num2 > num3):    # elif means else if
    print ("So the second number is the maximum number...")
    print (f"Maximum number is {num2}...")
else:
    print ("So the third number is the maximum number...")
    print (f"Maximum number is {num3}...")
print ("End of the program...")

Please enter the first number:  200
Please enter the second number:  300
Please enter the third number:  100

So the second number is the maximum number...
Maximum number is 300...
End of the program...

In [ ]:
Class Assignment:
-----------------
Take three integer numbers from the user as input. And find the second maximum number out of them and print it.

In [59]:
var = 100
print (var, type(var), id(var))
var = "Tutorial"
print (var, type(var), id(var))
var = "T"
print (var, type(var), id(var))
var = 100.45
print (var, type(var), id(var))
var = True
print (var, type(var), id(var))

100 <class 'int'> 2557433810256
Tutorial <class 'str'> 2557512968624
T <class 'str'> 2557435197232
100.45 <class 'float'> 2557540383536
True <class 'bool'> 140732972091600

In [ ]:
# Calculator Program
print ("M A I N  M E N U ...")
print ("~~~~~~~~~~~~~~~~~~~~")
print ("1 >  A D D I T I O N  O P E R A T I O N ...")
print ("2 >  S U B T R A C T I O N  O P E R A T I O N ...")
print ("3 >  M U L T I P L I C A T I O N  O P E R A T I O N ...")
print ("4 >  D I V I S I O N  O P E R A T I O N ...")
choice = int(input("Please enter youe choice integer (1 to 4): "))
num1 = int(input("Please enter the first integer: "))
num2 = int(input("Please enter the second integer: "))

#### Characters and ASCII Codes

In [ ]:
# ASCII (American Standard Code for Information Interchange) Codes
# A => 65, B => 66, Z => 90
# a => 97, b => 98, z => 122
# 0 => 48, 1 => 49, 9 => 57
# Space Bar/Blank => 32, Enter => 13, Esc => 27, Back Space => 9, Tab => 8
# ASCII Code is 8 bits code ranging from 0 to 255
# It can be divided into two categories:
# 1. Normal ASCII Codes (0 to 127) - Printable
# 2. Extended ASCII Codes (128 to 255) - Non-Printable
print (ord('A'), ord('a'), ord('Z'), ord('z'))  # returns characters to ASCII Codes
print (chr(65), chr(97), chr(90), chr(122))     # returns ASCII Codes to characters

In [8]:
# Calculator Program
print ("M A I N  M E N U ...")
print ("~~~~~~~~~~~~~~~~~~~~")
print ("1 >  A D D I T I O N  O P E R A T I O N ...")
print ("2 >  S U B T R A C T I O N  O P E R A T I O N ...")
print ("3 >  M U L T I P L I C A T I O N  O P E R A T I O N ...")
print ("4 >  D I V I S I O N  O P E R A T I O N ...")
print ("5 >  E X I T  O P E R A T I O N ...")
choice = int(input("Please enter youe choice integer (1 to 5): "))
num1 = int(input("Please enter the first integer: "))
num2 = int(input("Please enter the second integer: "))
if (choice == 1):
    print ("Performing the addition operation...")
    result = num1 + num2
    print (f"{num1} + {num2} = {result}...")
elif (choice == 2):
    print ("Performing the subtraction operation...")
    result = num1 - num2
    print (f"{num1} - {num2} = {result}...")
elif (choice == 3):
    print ("Performing the multiplication operation...")
    result = num1 * num2
    print (f"{num1} * {num2} = {result}...")
elif (choice == 4):
    if (num2 == 0):
        print ("Division by ZERO is Illegal...")
        print ("Can not perform the division operation...")
    else:
        print ("Performing the division operation...")
        result = num1 / num2
        print (f"{num1} / {num2} = {result}...")
elif (choice == 5):
    print ("Performing the exit operation...")
    print("Terminating the program...")
else:
    print ("Invalid option number has been provided...")
print ("End of the program...")

M A I N  M E N U ...
~~~~~~~~~~~~~~~~~~~~
1 >  A D D I T I O N  O P E R A T I O N ...
2 >  S U B T R A C T I O N  O P E R A T I O N ...
3 >  M U L T I P L I C A T I O N  O P E R A T I O N ...
4 >  D I V I S I O N  O P E R A T I O N ...
5 >  E X I T  O P E R A T I O N ...

Please enter youe choice integer (1 to 5):  5
Please enter the first integer:  100
Please enter the second integer:  40

Performing the exit operation...
Terminating the program...
End of the program...

#### Dealing with 'print' statement

In [12]:
print ("Hello", "to all", "and everybody")
print ("Good afternoon")

Hello to all and everybody
Good afternoon

In [11]:
help (print)   # ... ellipsis

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [14]:
print ("Hello", "to all", sep = " = ", end = "; ")
print ("Good afternoon")

Hello = to all; Good afternoon

In [17]:
print ("Hello " * 3)
print ("Welcome, " * 5)

Hello Hello Hello
Welcome, Welcome, Welcome, Welcome, Welcome,

### Python Loops

In [20]:
# for i in range(8):
# for i in range(0, 8):
for i in range(0, 8, 1):
    print (i, "Hello")

0 Hello
1 Hello
2 Hello
3 Hello
4 Hello
5 Hello
6 Hello
7 Hello

In [21]:
for i in range(0, 8, 3):
    print (i, "Hello")

0 Hello
3 Hello
6 Hello

In [22]:
for i in range(10, -10, -3):
    print (i, "Hello")

10 Hello
7 Hello
4 Hello
1 Hello
-2 Hello
-5 Hello
-8 Hello

In [26]:
print ("Visit Doctor...")    # 1 time
for day in range(1, 6):
    print ("Good Morning...")    # 5 times
    for medi in range(1, 4):
        print (f"Day No. = {day} and Medicine No. = {medi}...")    # 15 times
    print ("Good Night...")    # 5 times
    print ("---------------------------------------------")    # 5 times
print ("Thanks to Doctor...")    # 1 time

Visit Doctor...
Good Morning...
Day No. = 1 and Medicine No. = 1...
Day No. = 1 and Medicine No. = 2...
Day No. = 1 and Medicine No. = 3...
Good Night...
---------------------------------------------
Good Morning...
Day No. = 2 and Medicine No. = 1...
Day No. = 2 and Medicine No. = 2...
Day No. = 2 and Medicine No. = 3...
Good Night...
---------------------------------------------
Good Morning...
Day No. = 3 and Medicine No. = 1...
Day No. = 3 and Medicine No. = 2...
Day No. = 3 and Medicine No. = 3...
Good Night...
---------------------------------------------
Good Morning...
Day No. = 4 and Medicine No. = 1...
Day No. = 4 and Medicine No. = 2...
Day No. = 4 and Medicine No. = 3...
Good Night...
---------------------------------------------
Good Morning...
Day No. = 5 and Medicine No. = 1...
Day No. = 5 and Medicine No. = 2...
Day No. = 5 and Medicine No. = 3...
Good Night...
---------------------------------------------
Thanks to Doctor...

In [ ]:
Pattern - 1
-----------

n = 6 (number of layers)
                i    .    *
             -----------------
.....*          1    5    1        (i, n)
....***         2    4    3   . => (n - i)
...*****        3    3    5
..*******       4    2    7   * => (2 * i - 1)
.*********      5    1    9
***********     6    0   11
             ----------------
              Tracing Table

In [28]:
n = int(input("Please enter the number of layers: "))
for i in range(1, n + 1):
    print ("." * (n - i) + "*" * (2 * i - 1))
print ("End of the program...")

Please enter the number of layers:  11

..........*
.........***
........*****
.......*******
......*********
.....***********
....*************
...***************
..*****************
.*******************
*********************
End of the program...

In [ ]:
Pattern - 2
-----------

n = 11 (ODD number of layers)   m = (n + 1) // 2 = 6
                i    .    *
             -----------------
***********     1    0   11        (i, n, m)
.*********      2    1    9   . => (i - 1)
..*******       3    2    7
...*****        4    3    5   * => (2 * (m - i) + 1)
....****        5    4    3
.....*       ___6____5____1___
....***         7    4    3
...*****        8    3    5   . => (n - i)
..*******       9    2    7
.*********     10    1    9   * => (2 * (i - m) + 1)
***********    11    0   11
             ----------------

In [43]:
while (True):
    n = int(input("Please enter the ODD number of layers: "))
    if (n % 2 == 1): break
m = (n + 1) // 2
for i in range(1, n + 1):
    if (i > m): b = (n - i); s = (2 * (i - m) + 1)
    else: b = (i - 1); s = (2 * (m - i) + 1)
    print ("." * b + "*" * s)
print ("End of the program...")

Please enter the ODD number of layers:  12
Please enter the ODD number of layers:  14
Please enter the ODD number of layers:  16
Please enter the ODD number of layers:  11

***********
.*********
..*******
...*****
....***
.....*
....***
...*****
..*******
.*********
***********
End of the program...

In [35]:
for i in range(8):
    print (i, "Hello")
else:
    print ("Else block is executing...")
    print ("Had a smooth execution...")
print ("End of the program...")

0 Hello
1 Hello
2 Hello
3 Hello
4 Hello
5 Hello
6 Hello
7 Hello
Else block is executing...
Had a smooth execution...
End of the program...

In [36]:
for i in range(8):
    print (i, "Hello")
    if (i == 6): break
else:
    print ("Else block is executing...")
    print ("Had a smooth execution...")
print ("End of the program...")

0 Hello
1 Hello
2 Hello
3 Hello
4 Hello
5 Hello
6 Hello
End of the program...

In [37]:
for i in range(8):
    if (i == 3 or i == 6):
        print ("Continuing with i =", i)
        continue
    print (i, "Hello")
else:
    print ("Else block is executing...")
    print ("Had a smooth execution...")
print ("End of the program...")

0 Hello
1 Hello
2 Hello
Continuing with i = 3
4 Hello
5 Hello
Continuing with i = 6
7 Hello
Else block is executing...
Had a smooth execution...
End of the program...

In [39]:
for i in range(8):
    if (i == 3 or i == 6):
        print ("Continuing with i =", i)
        continue
    else:
        pass   # pass is a statement known as statement place holder
    print (i, "Hello")
else:
    print ("Else block is executing...")
    print ("Had a smooth execution...")
print ("End of the program...")

0 Hello
1 Hello
2 Hello
Continuing with i = 3
4 Hello
5 Hello
Continuing with i = 6
7 Hello
Else block is executing...
Had a smooth execution...
End of the program...

In [40]:
for i in range(8):
    if (i != 3 and i != 6):
        pass   # pass is a statement known as statement place holder
    else:
        print ("Continuing with i =", i)
        continue
    print (i, "Hello")
else:
    print ("Else block is executing...")
    print ("Had a smooth execution...")
print ("End of the program...")

0 Hello
1 Hello
2 Hello
Continuing with i = 3
4 Hello
5 Hello
Continuing with i = 6
7 Hello
Else block is executing...
Had a smooth execution...
End of the program...

In [45]:
# while loop
i = 1
while (i <= 8):
    print (f"Looping for i = {i}...")
    i += 1
    # i = i + 1
else:
    print ("Executing the ELSE block...")
    print ("Had a smooth execution...")
print ("End of the program...")

Looping for i = 1...
Looping for i = 2...
Looping for i = 3...
Looping for i = 4...
Looping for i = 5...
Looping for i = 6...
Looping for i = 7...
Looping for i = 8...
Executing the ELSE block...
Had a smooth execution...
End of the program...

In [46]:
while (True):
    n = int(input("Please enter the ODD number of layers: "))
    if (n % 2 == 1): break
m = (n + 1) // 2
i = 1
while (i <= n):
    if (i > m): b = (n - i); s = (2 * (i - m) + 1)
    else: b = (i - 1); s = (2 * (m - i) + 1)
    print ("." * b + "*" * s)
    i += 1
print ("End of the program...")

Please enter the ODD number of layers:  11

***********
.*********
..*******
...*****
....***
.....*
....***
...*****
..*******
.*********
***********
End of the program...

In [47]:
print ("Visit Doctor...")    # 1 time
day = 1
while (day <= 5):
    print ("Good Morning...")    # 5 times
    medi = 1
    while (medi <= 3):
        print (f"Day No. = {day} and Medicine No. = {medi}...")    # 15 times
        medi += 1
    print ("Good Night...")    # 5 times
    print ("---------------------------------------------")    # 5 times
    day += 1
print ("Thanks to Doctor...")    # 1 time

Visit Doctor...
Good Morning...
Day No. = 1 and Medicine No. = 1...
Day No. = 1 and Medicine No. = 2...
Day No. = 1 and Medicine No. = 3...
Good Night...
---------------------------------------------
Good Morning...
Day No. = 2 and Medicine No. = 1...
Day No. = 2 and Medicine No. = 2...
Day No. = 2 and Medicine No. = 3...
Good Night...
---------------------------------------------
Good Morning...
Day No. = 3 and Medicine No. = 1...
Day No. = 3 and Medicine No. = 2...
Day No. = 3 and Medicine No. = 3...
Good Night...
---------------------------------------------
Good Morning...
Day No. = 4 and Medicine No. = 1...
Day No. = 4 and Medicine No. = 2...
Day No. = 4 and Medicine No. = 3...
Good Night...
---------------------------------------------
Good Morning...
Day No. = 5 and Medicine No. = 1...
Day No. = 5 and Medicine No. = 2...
Day No. = 5 and Medicine No. = 3...
Good Night...
---------------------------------------------
Thanks to Doctor...

### Expression Evaluation

In [48]:
myexpr = input("Please enter your expression...")    # input: 100 + (2 * 3 + 500) * 10
result = eval(myexpr)
print (f"Result against the expression {myexpr} is {result}...")
print ("End of the program...")

Please enter your expression... 100 + (2 * 3 + 500) * 10

Result against the expression 100 + (2 * 3 + 500) * 10 is 5160...
End of the program...

### Inbuilt Python Collections

In [50]:
# different inbuilt collections
list1 = [100, 2.45, True, "Food", 201]   # mutable
print (list1, len(list1), type(list1), id(list1))
tuple1 = (100, 2.45, True, "Food", 201)   # immutable, read only
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
dict1 = {'name':'Bidisha', 'location':'Noida', 'job':'Developer', 'company':'Accenture'}    # mutable
print (dict1, len(dict1), type(dict1), id(dict1))
set1 = {"Delhi", 100, 2.45, True, "Food", 201, True, "Food", 201}    # mutable
print (set1, len(set1), type(set1), id(set1))
fset1 = frozenset(["Delhi", 100, 2.45, True, "Food", 201, True, "Food", 201])    # immutable, read only
print (fset1, len(fset1), type(fset1), id(fset1))

[100, 2.45, True, 'Food', 201] 5 <class 'list'> 2451236705344
(100, 2.45, True, 'Food', 201) 5 <class 'tuple'> 2451236537184
{'name': 'Bidisha', 'location': 'Noida', 'job': 'Developer', 'company': 'Accenture'} 4 <class 'dict'> 2451236102912
{'Delhi', True, 2.45, 100, 201, 'Food'} 6 <class 'set'> 2451235302848
frozenset({True, 2.45, 100, 201, 'Delhi', 'Food'}) 6 <class 'frozenset'> 2451235303968

In [51]:
# dealing with empty collections
var1 = []; print (var1, len(var1), type(var1))
var1 = (); print (var1, len(var1), type(var1))
var1 = {}; print (var1, len(var1), type(var1))
var1 = set(); print (var1, len(var1), type(var1))

[] 0 <class 'list'>
() 0 <class 'tuple'>
{} 0 <class 'dict'>
set() 0 <class 'set'>

### User Defined Functions (UDF)

In [147]:
def funct1():
    print ("Welcome " * 5)
    
print (type(funct1), id(funct1))
funct1()
funct1()
funct1()

<class 'function'> 2451270851824
Welcome Welcome Welcome Welcome Welcome
Welcome Welcome Welcome Welcome Welcome
Welcome Welcome Welcome Welcome Welcome

In [57]:
def funct2(msg, times):    # positional parameters
    print (msg * times)
    
funct2("Hello ", 6)    # positional arguments
funct2("Hi !!! ", 3)
funct2("Welcome ", 4)

Hello Hello Hello Hello Hello Hello
Hi !!! Hi !!! Hi !!!
Welcome Welcome Welcome Welcome

In [59]:
def funct3(msg, times):
    return msg * times

result = funct3("Welcome ", 4)
print (result)
print (funct3("Hello ", 5))

Welcome Welcome Welcome Welcome
Hello Hello Hello Hello Hello

In [69]:
# function for parameters with default arguments
def funct4(par1 = 111, par2 = 222, par3 = 333):
    print (f"par1 = {par1}, par2 = {par2}, par3 = {par3}...")
    
funct4(100, 200, 300)
funct4(100, 200)
funct4(100)
funct4()
funct4(par1 = 100, par3 = 300)
funct4(par3 = 300, par1 = 100)

par1 = 100, par2 = 200, par3 = 300...
par1 = 100, par2 = 200, par3 = 333...
par1 = 100, par2 = 222, par3 = 333...
par1 = 111, par2 = 222, par3 = 333...
par1 = 100, par2 = 222, par3 = 300...
par1 = 100, par2 = 222, par3 = 300...

In [72]:
def funct5(num1, num2 = None):
    # if (num2 == None): return 2 * num1
    if (num2 is None): return 2 * num1
    else: return num1 + num2

print (funct5(100))
print (funct5(1000, 2000))

200
3000

In [75]:
def funct6(num1, num2):
    total = num1 + num2
    difference = num1 - num2
    product = num1 * num2
    quotient = num1 / num2
    return total, difference, product, quotient

tt, dd, pp, qq = funct6(100, 40)
print (f"Total = {tt}, Difference = {dd}, Product = {pp} and Quotient = {qq}...")
result = funct6(100, 40)
print (result, len(result), type(result), id(result))
re = funct6(100, 40)
print (f"Total = {re[0]}, Difference = {re[1]}, Product = {re[2]} and Quotient = {re[3]}...")

Total = 140, Difference = 60, Product = 4000 and Quotient = 2.5...
(140, 60, 4000, 2.5) 4 <class 'tuple'> 2451265436096
Total = 140, Difference = 60, Product = 4000 and Quotient = 2.5...

In [79]:
# function with variable number of arguments
def funct7(*arg):   # *arg => forcefully defining arg as a tuple type of variable
    print (arg, len(arg), type(arg), id(arg))
    
funct7("Jhon", "Male", "California")
funct7("Jhon", "Male", "California", 40)
funct7("Jhon", "Male", "California", 40, "Developer")
funct7("Jhon", "Male", "California", 40, "Developer", "Java")

('Jhon', 'Male', 'California') 3 <class 'tuple'> 2451268335296
('Jhon', 'Male', 'California', 40) 4 <class 'tuple'> 2451265660672
('Jhon', 'Male', 'California', 40, 'Developer') 5 <class 'tuple'> 2451238206288
('Jhon', 'Male', 'California', 40, 'Developer', 'Java') 6 <class 'tuple'> 2451236969472

In [81]:
def funct8(**kwarg):    # **kwarg => forcefully defining kwarg of key-word argument and of type dictionary
    print (kwarg, len(kwarg), type(kwarg), id(kwarg))
    
funct8(name='John', age=40)
funct8(name='John', age=40, car='Ford')
funct8(name='John', age=40, car='Ford', address="21/2")

{'name': 'John', 'age': 40} 2 <class 'dict'> 2451271395904
{'name': 'John', 'age': 40, 'car': 'Ford'} 3 <class 'dict'> 2451271395520
{'name': 'John', 'age': 40, 'car': 'Ford', 'address': '21/2'} 4 <class 'dict'> 2451271396032

In [84]:
def funct9(*arg, **kwarg):
    print (arg, len(arg), type(arg), id(arg))
    print (kwarg, len(kwarg), type(kwarg), id(kwarg))
    
funct9("Jhon", "Male", "California", company="Accenture", car='Ford', address="21/2")
print ()
funct9("Jhon", "Male", "California")
print ()
funct9(company="Accenture", car='Ford', address="21/2")

('Jhon', 'Male', 'California') 3 <class 'tuple'> 2451281534912
{'company': 'Accenture', 'car': 'Ford', 'address': '21/2'} 3 <class 'dict'> 2451270501632

('Jhon', 'Male', 'California') 3 <class 'tuple'> 2451230875328
{} 0 <class 'dict'> 2451270501184

() 0 <class 'tuple'> 2451156254832
{'company': 'Accenture', 'car': 'Ford', 'address': '21/2'} 3 <class 'dict'> 2451265009984

In [89]:
# non-recursive factorial calculating function
# 5! = 1 * 2 * 3 * 4 * 5 = 5 * 4 * 3 * 2 * 1 = 120
def factorial_nr(num):
    if (num == 0 or num == 1): return 1
    fact = num
    for i in range(2, num):
        fact = fact * i
        print (i, fact)
    return fact
    
print (factorial_nr(5))
print ()
print (factorial_nr(6))

2 10
3 30
4 120
120

2 12
3 36
4 144
5 720
720

In [91]:
# recursive factorial calculating function
# 5! = 1 * 2 * 3 * 4 * 5 = 5 * 4 * 3 * 2 * 1 = 120 = 5 * 4!
def factorial_r(num):
    if (num == 0 or num == 1): return 1   # base case, for certain inputs outputs are pre-known to us
    return num * factorial_r(num - 1)     # recursive case, where a function will call itself
    
print (factorial_r(5))
print (factorial_r(6))

120
720

In [ ]:
5! = 5 * 4!
         4 * 3!
            3 * 2!
                2 * 1!
                    1
                2
            6
         24
     120

#### Lambda Function
> In Python programming, a lambda function is a small anonymous function that can have any number of arguments, but can only have one expression. The expression is evaluated and returned as the function result. Lambda functions are commonly used in combination with higher-order functions such as map(), filter(), and reduce().

Some of the properties of lambda functions in Python programming include:
* **Anonymous:** Lambda functions are anonymous, meaning they do not have a name like regular functions. They are defined using the keyword "lambda" followed by the arguments and the expression.
* **Single Expression:** A lambda function can only contain a single expression that is evaluated and returned as the function result. This means that it cannot contain multiple statements or control flow structures.
* **Concise:** Lambda functions are concise and can be defined in a single line of code. This makes them useful for defining simple functions on-the-fly.
* **Immutable:** Lambda functions are immutable, meaning they cannot be modified once defined. This means that you cannot change the behavior of a lambda function after it has been defined.
* **Higher-order Functions:** Lambda functions are often used in combination with higher-order functions such as map(), filter(), and reduce(). These functions take other functions as arguments and return new functions as results.
* **Memory-efficient:** Lambda functions are memory-efficient since they are defined on-the-fly and do not require a separate function definition. This can be useful when working with large data sets or when memory usage is a concern.

In [93]:
result = lambda num: num * num

print (result(20))
print (type(result), id(result))

400
<class 'function'> 2451281683952

In [94]:
result = lambda num1, num2: num1 * num2

print (result(100, 40))
print (result(200, 30))

4000
6000

In [97]:
fact = lambda num: 1 if (num == 0 or num == 1) else num * fact(num - 1)

print (fact(5))
print (fact(6))

120
720

In [98]:
def funct10(num):
    myproduct = lambda n: n * num
    return myproduct

var10 = funct10(10)
var20 = funct10(20)
print (var10(3))
print (var20(4))
print (funct10(30)(5))

30
80
150

In [99]:
# using the global keyword
def funct11():
    i = 100
    print (i, id(i))
    
i = 10
print (i, id(i))
funct11()
print (i, id(i))

10 2451156238864
100 2451156241744
10 2451156238864

In [100]:
# using the global keyword
def funct11():
    global i
    i = 100
    print (i, id(i))
    
i = 10
print (i, id(i))
funct11()
print (i, id(i))

10 2451156238864
100 2451156241744
100 2451156241744

## String Processing

In [ ]:
index left to right ->  0   1   2   3   4   5   6   7   8   9
               mystr =  u   n   i   v   e   r   s   i   t   y
index right to left ->-10  -9  -8  -7  -6  -5  -4  -3  -2  -1

In [101]:
mystr = "university"
print (mystr, len(mystr), type(mystr), id(mystr))

university 10 <class 'str'> 2451270501872

In [102]:
print (mystr[3], mystr[-7], mystr[7], mystr[-3], mystr[5], mystr[-5]) # indexing

v v i i r r

In [106]:
print (mystr[1:8], mystr[-9:-2], mystr[1:-2], mystr[-9:8], mystr[::-1]) # slicing or sub-string retrieval
print (mystr[1::2], mystr[0::2], mystr[::2])

niversi niversi niversi niversi ytisrevinu
nvriy uiest uiest

In [107]:
mystr = "caLCuTTa unIVerSitY"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.upper())
print (mystr.lower())
print (mystr.title())
print (mystr.capitalize())
print (mystr.swapcase())
print (mystr.center(40))
print (mystr.upper().center(50))

caLCuTTa unIVerSitY 19 <class 'str'> 2451265425280
CALCUTTA UNIVERSITY
calcutta university
Calcutta University
Calcutta university
CAlcUttA UNivERsITy
          caLCuTTa unIVerSitY
               CALCUTTA UNIVERSITY

In [109]:
mystr = "charity begins at home"
print (mystr.find("ity"), mystr.find("i", 3), mystr.find("i", 5), mystr.find("ins", 11, 13), mystr.find("ins", 11, 15))

4 4 11 -1 11

In [110]:
print (mystr.index("ity"), mystr.index("i", 3), mystr.index("i", 5))
print (mystr.index("ins", 11, 13))

4 4 11

ValueError: substring not found

In [111]:
try:
    mystr = "charity begins at home"
    print (mystr.index("ity"), mystr.index("i", 3), mystr.index("i", 5))
    print (mystr.index("ins", 11, 13))
except ValueError as ve:
    print ("Unsuccessful searching has taken place...")
print ("End of the program...")

4 4 11
Unsuccessful searching has taken place...
End of the program...

In [112]:
mystr = "    calcutta    university     "
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.strip(), len(mystr.strip()), mystr.lstrip(), len(mystr.lstrip()), mystr.rstrip(),
       len(mystr.rstrip()))
print (mystr.strip(" "), mystr.lstrip(" "), len(mystr.lstrip(" ")))

    calcutta    university      31 <class 'str'> 2451237015584
calcutta    university 22 calcutta    university      27     calcutta    university 26
calcutta    university calcutta    university      27

In [113]:
mystr = "##@@calcutta#@#@university#@@@#"
print (mystr.strip("@#"), len(mystr.strip("@#")), mystr.lstrip("@#"), mystr.rstrip("@#"),
       len(mystr.rstrip("@#")))

calcutta#@#@university 22 calcutta#@#@university#@@@# ##@@calcutta#@#@university 26

In [114]:
mystr = "charity begins at home"
print (mystr.startswith("cha"), mystr.startswith("beg"), mystr.startswith("beg", 8),
       mystr.startswith("beg", 8, 20))

True False True True

In [115]:
mystr = "charity begins at home"
print (mystr.endswith("ome"), mystr.endswith("gins"), mystr.endswith("gins", 0, 14))

True False True

In [116]:
mystr = "madam"    # Reading character by character from a string
for ch in mystr:
    print (ch)

m
a
d
a
m

In [117]:
mystr = "madam"
for i in range(len(mystr)):
    print (mystr[i])

m
a
d
a
m

In [119]:
mystr = "charity begins at home"
print (mystr, len(mystr), type(mystr), id(mystr))
list1 = mystr.split()
print (list1)
list1 = mystr.split(" ")
print (list1)
list1 = mystr.split("i")
print (list1)

charity begins at home 22 <class 'str'> 2451269925536
['charity', 'begins', 'at', 'home']
['charity', 'begins', 'at', 'home']
['char', 'ty beg', 'ns at home']

In [121]:
list_num = input("Enter your all numbers: ").split()
print (list_num)

Enter your all numbers:  11 22 33 22 44 55 66 77 88 234

['11', '22', '33', '22', '44', '55', '66', '77', '88', '234']

In [122]:
list_num = [int(x) for x in input("Enter your all numbers: ").split()]
print (list_num)

Enter your all numbers:  11 22 33 22 44 55 66 77 88 234

[11, 22, 33, 22, 44, 55, 66, 77, 88, 234]

In [123]:
list1 = ['charity', 'begins', 'at', 'home']
print (list1, len(list1), type(list1), id(list1))
mystr = " ".join(list1)
print (mystr)
mystr = " - ".join(list1)
print (mystr)
mystr = ", ".join(list1)
print (mystr)

['charity', 'begins', 'at', 'home'] 4 <class 'list'> 2451272192768
charity begins at home
charity - begins - at - home
charity, begins, at, home

In [127]:
mystr = "123"
print (mystr.isalnum(), mystr.isalpha(), mystr.isnumeric())
mystr = "abc"
print (mystr.isalnum(), mystr.isalpha(), mystr.isnumeric())
mystr = "123abc"
print (mystr.isalnum(), mystr.isalpha(), mystr.isnumeric())
mystr = "123@abc"
print (mystr.isalnum(), mystr.isalpha(), mystr.isnumeric())

True False True
True True False
True False False
False False False

In [128]:
mystr = "university"
print (mystr.count("i"), mystr.count("v"), mystr.count("I"))

2 1 0

In [129]:
mystr = "university"
print (mystr.replace("i", "x"))
print (mystr)
mystr = mystr.replace("i", "x")
print (mystr)

unxversxty
university
unxversxty

In [130]:
mystr = "mississippi"
print (mystr, type(mystr))
print (list(mystr))
print (tuple(mystr))
print (set(mystr))
print (frozenset(mystr))

mississippi <class 'str'>
['m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i']
('m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i')
{'s', 'i', 'p', 'm'}
frozenset({'s', 'i', 'p', 'm'})

In [138]:
inputstr = "maRRy thOMPson"
# outputstr = "M. Thompson"
mylist = inputstr.split()
print (mylist)
outputstr = (mylist[0][0] + ". " + mylist[1]).title()
print (outputstr)

['maRRy', 'thOMPson']
M. Thompson

### List Processing

In [139]:
list1 = [100, 400, 300, 200, 700]
print (list1, len(list1), type(list1), id(list1))
print (max(list1), min(list1))
print (sum(list1), sum(list1) / len(list1))

[100, 400, 300, 200, 700] 5 <class 'list'> 2451268921920
700 100
1700 340.0

In [140]:
list1 = [100, 400, True, 300, 200, False, 700]
print (list1, len(list1), type(list1), id(list1))
print (max(list1), min(list1))
print (sum(list1), sum(list1) / len(list1))

[100, 400, True, 300, 200, False, 700] 7 <class 'list'> 2451272964480
700 False
1701 243.0

In [144]:
# A to Z => 65 to 90
# a to z => 97 + 122
list1 = ["sunday", "monday", 'friday', 'saturday', 'Tuesday']
print (list1, len(list1), type(list1), id(list1))
print (max(list1), min(list1))
print (sum(list1), sum(list1) / len(list1))

['sunday', 'monday', 'friday', 'saturday', 'tuesday'] 5 <class 'list'> 2451274435776
tuesday friday

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [145]:
list1 = [100, 400, True, "Tuesday", 300, "Wednesday", 200, False, 700]
print (list1, len(list1), type(list1), id(list1))
print (max(list1), min(list1))
print (sum(list1), sum(list1) / len(list1))

[100, 400, True, 'Tuesday', 300, 'Wednesday', 200, False, 700] 9 <class 'list'> 2451275411776

TypeError: '>' not supported between instances of 'str' and 'int'

In [149]:
# Indexing and slicing
# L to R ->  0         1          2            3           4
list1 =    ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
# R to L -> -5        -4         -3           -2          -1
print (list1, len(list1), type(list1), id(list1))
print (list1[2], list1[-3], list1[3], list1[-2])
print (list1[2][3:6], list1[-3][-6:-3])
print (list1[0][1:5])

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'] 5 <class 'list'> 2451274589248
Wednesday Wednesday Thursday Thursday
nes nes
onda

In [151]:
list1 = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
list2 = ["Mango", "Pineapple", "Guava", "Lime"]
print (list1)
print (list2)
list3 = list1 + list2    # list concatenation
print (list3)
list1.extend(list2)      # list concatenation
print (list1)
print (list2)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
['Mango', 'Pineapple', 'Guava', 'Lime']
['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Mango', 'Pineapple', 'Guava', 'Lime']
['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Mango', 'Pineapple', 'Guava', 'Lime']
['Mango', 'Pineapple', 'Guava', 'Lime']

In [153]:
list1 = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
list2 = ["Mango", "Pineapple", "Guava", "Lime"]
print (list1)
print (list2)
list3 = [list1, list2]      # list of lists
print (list3)
print (len(list3[0]), len(list3[1]))
print (list3[1][1:3], list3[0][2:4], list3[0][2][3:6])

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
['Mango', 'Pineapple', 'Guava', 'Lime']
[['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'], ['Mango', 'Pineapple', 'Guava', 'Lime']]
5 4
['Pineapple', 'Guava'] ['Wednesday', 'Thursday'] nes

In [155]:
# insert operation on list
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1)
list1.append("Guava")
print (list1)
list1.append("Lemon")
print (list1)
list1.insert(1, "pineapple")
print (list1)

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime', 'Guava']
['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime', 'Guava', 'Lemon']
['Mango', 'pineapple', 'Pineapple', 'Coconut', 'Banana', 'Lime', 'Guava', 'Lemon']

In [168]:
# update operation on list
list1[0] = "Himsagar"
print (list1)

['Himsagar', 400, 300, 100, 70, 40, True, False]

In [158]:
# deletion operation on list
list1 = ['Himsagar', 'pineapple', 'Pineapple', 'Coconut', 'Banana', 'Lime', 'Guava', 'Lemon']
print (list1)
list1.remove("Pineapple")
print (list1)
print (list1.pop())
print (list1)
print (list1.pop())
print (list1)
print (list1.pop(2))
print (list1)

['Himsagar', 'pineapple', 'Pineapple', 'Coconut', 'Banana', 'Lime', 'Guava', 'Lemon']
['Himsagar', 'pineapple', 'Coconut', 'Banana', 'Lime', 'Guava', 'Lemon']
Lemon
['Himsagar', 'pineapple', 'Coconut', 'Banana', 'Lime', 'Guava']
Guava
['Himsagar', 'pineapple', 'Coconut', 'Banana', 'Lime']
Coconut
['Himsagar', 'pineapple', 'Banana', 'Lime']

In [159]:
list1 = ['Himsagar', 'pineapple', 'Pineapple', 'Coconut', 'Banana', 'Lime', 'Guava', 'Lemon']
print (list1)
list1.clear()
print (list1)

['Himsagar', 'pineapple', 'Pineapple', 'Coconut', 'Banana', 'Lime', 'Guava', 'Lemon']
[]

In [160]:
list1 = ['Himsagar', 'pineapple', 'Pineapple', 'Coconut', 'Banana', 'Lime', 'Guava', 'Lemon']
print (list1)
del list1
print (list1)

['Himsagar', 'pineapple', 'Pineapple', 'Coconut', 'Banana', 'Lime', 'Guava', 'Lemon']

NameError: name 'list1' is not defined

In [161]:
# reverse of a list
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1)
list1.reverse()
print (list1)

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
['Lime', 'Banana', 'Coconut', 'Pineapple', 'Mango']

In [162]:
# sorting of a list
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1)
list1.sort()
print (list1)

list1.sort(reverse = True)
print (list1)

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
['Banana', 'Coconut', 'Lime', 'Mango', 'Pineapple']
['Pineapple', 'Mango', 'Lime', 'Coconut', 'Banana']

In [164]:
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1)
list1 = sorted(list1)
print (list1)
list1 = sorted(list1, reverse = True)
print (list1)

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
['Banana', 'Coconut', 'Lime', 'Mango', 'Pineapple']
['Pineapple', 'Mango', 'Lime', 'Coconut', 'Banana']

In [167]:
list1 = [100, 400, False, 300, 70, 40, True, 1000]
print (list1)
list1 = sorted(list1)
print (list1)
list1 = sorted(list1, reverse = True)
print (list1)

[100, 400, False, 300, 70, 40, True, 1000]
[False, True, 40, 70, 100, 300, 400, 1000]
[1000, 400, 300, 100, 70, 40, True, False]

In [174]:
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1.count('Pineapple'))
print (list1.index("Pineapple"))
print (list1.index("Pineapple", 2))
print (list1.index("Pineapple", 5))

2
1
4

ValueError: 'Pineapple' is not in list

### Tuple Processing

In [175]:
tuple1 = (100, 400, 300, 200, 700)
print (tuple1, len(list1), type(tuple1), id(tuple1))
print (max(tuple1), min(tuple1))
print (sum(tuple1), sum(tuple1) / len(tuple1))

(100, 400, 300, 200, 700) 8 <class 'tuple'> 2451269044000
700 100
1700 340.0

In [177]:
tuple1 = (100, 400, True, 300, 200, False, 700)
print (tuple1, len(list1), type(tuple1), id(tuple1))
print (max(tuple1), min(tuple1))
print (sum(tuple1), sum(tuple1) / len(tuple1))

(100, 400, True, 300, 200, False, 700) 8 <class 'tuple'> 2451278323552
700 False
1701 243.0

In [178]:
tuple1 = ("sunday", "monday", 'friday', 'saturday', 'Tuesday')
print (tuple1, len(list1), type(tuple1), id(tuple1))
print (max(tuple1), min(tuple1))
print (sum(tuple1), sum(tuple1) / len(tuple1))

('sunday', 'monday', 'friday', 'saturday', 'Tuesday') 8 <class 'tuple'> 2451268873056
sunday Tuesday

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [179]:
tuple1 = (100, 400, True, "Tuesday", 300, "Wednesday", 200, False, 700)
print (tuple1, len(list1), type(tuple1), id(tuple1))
print (max(tuple1), min(tuple1))
print (sum(tuple1), sum(tuple1) / len(tuple1))

(100, 400, True, 'Tuesday', 300, 'Wednesday', 200, False, 700) 8 <class 'tuple'> 2451269372224

TypeError: '>' not supported between instances of 'str' and 'int'

In [180]:
# Indexing and slicing
# L ro R ->   0         1          2            3           4
tuple1 =    ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
# R to L ->  -5        -4         -3           -2          -1
print (tuple1[2], tuple1[-3], tuple1[3], tuple1[-2])
print (tuple1[2][3:6], tuple1[-3][-6:-3])

Wednesday Wednesday Thursday Thursday
nes nes

In [181]:
tuple1 = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
tuple2 = ("Mango", "Pineapple", "Guava", "Lime")
print (tuple1)
print (tuple2)
tuple3 = tuple1 + tuple2      # tuple concatenation
print (tuple3)
tuple3 = (tuple1, tuple2)     # tuple of tuples
print (tuple3)

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday')
('Mango', 'Pineapple', 'Guava', 'Lime')
('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Mango', 'Pineapple', 'Guava', 'Lime')
(('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'), ('Mango', 'Pineapple', 'Guava', 'Lime'))

In [182]:
var1 = (10)
print (var1, type(var1))
var1 = (10,)   # singleton representation of a tuple
print (var1, type(var1))

10 <class 'int'>
(10,) <class 'tuple'>

In [186]:
# update operation on a tuple
tuple1 = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
print (tuple1, id(tuple1))
# tuple1[1] = 'Saturday'
list1 = list(tuple1)
print (list1)
list1[1] = 'Saturday'
print (list1)
tuple1 = tuple(list1)
print (tuple1, id(tuple1))

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday') 2451269109776
['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
['Monday', 'Saturday', 'Wednesday', 'Thursday', 'Friday']
('Monday', 'Saturday', 'Wednesday', 'Thursday', 'Friday') 2451269113296

In [188]:
# sorting on a tuple
tuple1 = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
print (tuple1, id(tuple1))
tuple2 = tuple(sorted(tuple1))
print (tuple2, id(tuple2))

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday') 2451269111376
('Friday', 'Monday', 'Thursday', 'Tuesday', 'Wednesday') 2451269109776

In [189]:
tuple1 = ('Mango', 'Pineapple', 'Coconut', 'Banana', 'Pineapple', 'Coconut', 'Banana', 'Lime')
print (tuple1.count('Pineapple'), tuple1.count('Lemon'))

2 0

In [191]:
tuple1 = ('Mango', 'Pineapple', 'Coconut', 'Banana', 'Pineapple', 'Coconut', 'Banana', 'Lime')
print (tuple1.index("Pineapple"))
print (tuple1.index("Pineapple", 0))
print #, tuple1.index("Pineapple", 2), tuple1.index("Pineapple", 5))

1
1